$color-1: #fafeff;
$color-2: #54708e;
$color-3: #617178;
$color-4: #021218;
$color-5: #7ca438;
$color-6: #173838;

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  // border: 1px solid red;
}
.App {
  background: $color-4;
  min-height: 100vh;
  width: 100%;
}
.home {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 750px) {
    width: 95%;
    margin: 0 auto;
  }
}
.live {
  color: rgba(197, 12, 12, 0.63);
}

.leaguesLeft {
  width: 15%;
}

//   @font-face {
//     font-family: "PlayfairDisplayRegular";
//     src: local("PlayfairDisplayRegular"),
//      url("../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf") format("truetype");
//     font-weight: 700;
//    }
//   @font-face {
//     font-family: "RobotoItalic";
//     src: local("RobotoItalic"),
//      url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
//     font-weight: 600;
//    }
//   @font-face {
//     font-family: "Inter";
//     src: local("inter"),
//      url("../fonts/inter/static/Inter_24pt-SemiBold.ttf") format("truetype");
//     font-weight: 300;
//    }
//   @font-face {
//     font-family: "PtMono";
//     src: local("PtMono"),
//      url("../fonts/ptMono/PTMono-Regular.ttf") format("truetype");
//     font-weight: 600;
//    }

//    .appContainer {
//     font-family: "PtMono"
//    }
