$color-1: #fafeff;
$color-2: #54708e;
$color-3: #617178;
$color-4: #021218;
$color-5: #7ca438;
$color-6: #173838;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }
  .navbarCardContainer {
    color: white ;
    margin-top: 10px;
    .star {
      cursor: pointer;
     }
    .items {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-6;
      align-items: center;
      border-radius: 5px;
      width: 95%;
      padding-top: 3px;
      height: 45px;
      .left {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5px;
        padding-left: 5px;
        width: 50%;
      }
      .right {
        justify-content: end;
        align-items: center;
        padding-right: 15px;
        cursor: pointer;
        &:hover {
          color: $color-5;
        }
      }
    }
  }
    //   @font-face {
//     font-family: "PlayfairDisplayRegular";
//     src: local("PlayfairDisplayRegular"),
//      url("../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf") format("truetype");
//     font-weight: 700;
//    }
//   @font-face {
//     font-family: "RobotoItalic";
//     src: local("RobotoItalic"),
//      url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
//     font-weight: 600;
//    }
//   @font-face {
//     font-family: "Inter";
//     src: local("inter"),
//      url("../fonts/inter/static/Inter_24pt-SemiBold.ttf") format("truetype");
//     font-weight: 300;
//    }
//   @font-face {
//     font-family: "PtMono";
//     src: local("PtMono"),
//      url("../fonts/ptMono/PTMono-Regular.ttf") format("truetype");
//     font-weight: 600;
//    }

//    .appContainer {
//     font-family: "PtMono"
//    }