.appContainer {
    background-color: #021218;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 500px;
    .home {
        width: 80%;
        margin: 0 auto;
        transform: translateY(10%);
    }
}