.competitionsContainer {
    border: 1px dashed $color-2;
    .competitions {
        border: none;
        color: $color-1;
        background-color: $color-4;
        border-bottom: 1px dashed $color-2;
        display: flex;
        gap: 10px;
        &:hover {
            cursor: pointer;
            color: $color-5;
        }
    }
}