.headerContainer {
min-height: 100vh;
background-color: $color-4;
display: flex;
width: 100%;
.competitionscontainer {
    width: 20%;
}
.matchsContainer {
    width: 60%;
    background-color: $color-4
}
.matchTiketContainer {
    width: 20%;
    background-color: $color-4;
}
}