.headerContainer {
min-height: 100vh;
background-color: blanchedalmond;
display: flex;
width: 100%;
.competitionscontainer {
    width: 20%;
}
.matchsContainer {
    width: 60%;
    background-color: black;
}
.matchTiketContainer {
    width: 20%;
    background-color: rgb(136, 37, 37);
}
}