.navbarLeagueContainer {
    color: $color-1;
    width: 80%;
    padding-left: 25px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .navlink {
        margin-left:  0.8rem;
    }
}